<section class="hero is-fullheight">
    <div class="hero-head">
        
    </div>
    <div class="hero-video">
        <img src="images/tree-hero.jpg" alt="photo of trees">
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1"><span class="title-wrap">{{ .Site.Title }}</span></h1>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-item">
                <a href="/" title="Home">Home</a>
            </div>
            <div class="navbar-item">
                <a href="#about" title="About">About</a>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="/products/" class="navbar-link">
                    Products
                </a>
                <div class="navbar-dropdown">
                    <a href="/products/spoons/" class="navbar-item">
                        Spoons
                    </a>
                    <a href="/products/bowls" class="navbar-item">
                        Bowls
                    </a>
                </div>
            </div>
        </nav>
    </div>
    
</section>