<header class="hero has-hero-image is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    {{ partial "nav" .}}
  </div>
  <div class="hero-body">
    <div id="hero-title" class="container">
      <h1 class="title has-white-text is-1">
        {{ .Site.Params.herotitle }}
      </h1>
    </div>
  </div>
  <div class="hero-footer">
    
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <!-- <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="is-active"><a>Overview</a></li>
          <li><a>Modifiers</a></li>
          <li><a>Grid</a></li>
          <li><a>Elements</a></li>
          <li><a>Components</a></li>
          <li><a>Layout</a></li>
        </ul>
      </div>
    </nav>
  </div> -->
</header>