<section class="hero is-fullheight video">
    <div class="hero-head">
        
    </div>
    <div class="hero-video overlain">
        <video playsinline autoplay muted loop poster="images/carving_hero.jpg">
            <source src="videos/carving_hero.mp4" type="video/mp4">
        </video>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1"><span class="title-wrap">{{ .Site.Title }}</span></h1>
        </div>
    </div>
    <div class="hero-foot has-text-centered">
    </div>
    
</section>