<header class="hero is-halfheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    {{ partial "nav" .}}
  </div>
  <div class="hero-body">
    <img src={{ if isset .Params "banner" }}"/images/{{ .Params.banner }}"{{ else }}"/images/general-banner.jpg"{{ end }} alt="banner image">
    <div class="container has-text-centered">
      <h1 class="title has-white-text is-1">
      {{ .Title }}
      </h1>
    </div>
  </div>
</header>
<!--
<header class="hero is-small">
  <img src={{ if isset .Params "banner" }}"/images/{{ .Params.banner }}"{{ else }}"/images/general-banner.jpg"{{ end }} alt="banner image">
  
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1"><span class="title-wrap">{{ if isset .Params "subtitle" }}{{ .Params.subtitle }}{{ else }}{{ .Title }}{{ end }}</span></h1>
      
    </div>
    
    
  </div>
  <div class="hero-foot has-text-centered">
    
  </div>
</header> -->