<nav id="site-nav" class="navbar is-primary">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/images/logo3.png" alt="logo">
        </a>
        
    </div>
        <div id="navbarMenuHeroA" class="navbar-menu is-transparent">
            <div class="navbar-end">
                <a href="/" class="navbar-item">
                    Home
                </a>
                <a href="/green-woodworking" class="navbar-item">
                    Green Woodworking
                </a>
                <a href="/wooden-ware" class="navbar-item">
                    Wooden Ware
                </a>
                <span class="navbar-item">
                    <a href="https://www.etsy.com/shop/WoodFromTrees" class="button is-green">
                        <span class="icon">
                            <i class="fa fa-etsy"></i>
                        </span>
                        <span>Etsy Shop</span>
                    </a>
                </span>
            </div>
        </div>
</nav>