<nav class="navbar">
    <div class="container is-fullwidth">
        <div id="navbarMenuHeroA" class="navbar-menu is-transparent">
            <div class="navbar-end">
                <a href="{{.Site.BaseURL | relURL}}" class="navbar-item is-active">
                    Home
                </a>
                <a href="green-woodworking" class="navbar-item">
                    Green Woodworking
                </a>
                <a href="blog/" class="navbar-item">
                    Blog
                </a>
                <span class="navbar-item">
                    <a href="https://www.etsy.com/shop/WoodFromTrees" class="button is-green">
                        <span class="icon">
                            <i class="fa fa-etsy"></i>
                        </span>
                        <span>Etsy Shop</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>