<section class="section is-primary is-medium">
    <div class="container is-centered">
        
        
        <div class="tile is-ancestor">
            <article class="tile box is-child is-4">
                <a href="/wooden-ware/spoons" title="spoons">
                    <div>
                        <img class="image" src="images/home/spoon.jpg" alt="photo of a spoon with axe">
                        <h2 class="title">Spoons</h2>
                        <p>Woden spoons stir your pots, serve your food, and feed mouths.</p>
                    </div>
                </a>
            </article>
            
            
            <article class="tile box is-child is-4">
                <a href="/wooden-ware/bowls" title="bowls">
                    <div>
                        <img class="image" src="images/home/bowls.jpg" alt="photo of a spoon with axe">
                        <h2 class="title">Bowls</h2>
                        <p>Wooden bowls spin to life on a lathe, and hold your porridge.</p>
                    </div>
                </a>
            </article>
            
            <article class="tile box is-child is-4">
                <a href="/wooden-ware/cups" title="cups">
                    <div>
                        
                        
                        <img class="image" src="images/home/cup.jpg" alt="photo of a spoon with axe">
                        <h2 class="title">Cups</h2>
                        <p>Cups like kuksas are the love-children of wooden bowls and spoons.</p>
                    </div>
                </a>
            </article></a>
            
        </div>
        
    </div>

</section>