<section class="section is-small">
    <div class="container is-10">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                
                <article class="tile is-child box is-primary is-3">
                    <a href="/wooden-ware/spoons" title="spoons">
                        <div>
                            <img class="image" src="tiles/spoon-axe.jpg" alt="photo of a spoon with axe">
                            <h2 class="title">Spoons</h2>
                            <p>Woden spoons stir pots and feed mouths.</p>
                        </div>
                    </a>
                </article>
                
                
                <article class="tile is-child box is-primary is-3">
                    <a href="/wooden-ware/bowls" title="bowls">
                        <div>
                            <img class="image" src="tiles/spoon-axe.jpg" alt="photo of a spoon with axe">
                            <h2 class="title">Bowls</h2>
                            <p>Wooden bowls spin round to be made, and hold nice things for you.</p>
                        </div>
                    </a>
                </article>
                
                <article class="tile is-child box is-primary is-3">
                    <a href="/wooden-ware/kuksas" title="kuksas">
                        <div>
                            
                            
                            <img class="image" src="tiles/spoon-axe.jpg" alt="photo of a spoon with axe">
                            <h2 class="title">Kuksas</h2>
                            <p>Kuksas are like if bowls and spoons married and had kids.</p>
                        </div>
                    </a>
                </article></a>
                
            </div>
            
        </div>
    </div>
</section>