<section id="wood-video" class="is-medium">
    
    
        <div class="columns">
            <div class="column is-8">
                <video playsinline autoplay muted loop poster="images/carving_hero.jpg" class="">
                    <source src="videos/carving_hero.mp4" type="video/mp4">
                </video></div>
                <div class="column is-3">
                    <div class="content">
                    <h2>Carving spoons with axes and blades</h2>
                    <p>I start every one of my projects with a tree. If I'm lucky, I get to fell it, but sometimes, I collect up a fresh log. I split green logs with a froe, axe, and wedges. The resulting planks (called billets) then face a carving axe for rough shaping.
                    </p>
                    <p>Once the shape is roughed out, I move on to refining with straight blades and hook knives (which let me hollow out bowls).</p>
                    <p>I don't use sandpaper or other abrasives, so everything is tool-finished. This leaves a durable, smooth surface that weathers better than abraded wood which can tear or fluff up when soaked.</p>
                    </div>
                </div>
            </div>
        
        
    </section>