<section id="wood-video" class="is-medium">
    
    
        <div class="columns is-vcentered">
            <div class="column is-8">
                <video playsinline autoplay muted loop poster="images/carving_hero.jpg" class="">
                    <source src="videos/carving_hero.mp4" type="video/mp4">
                </video></div>
                <div class="column is-3">
                    <div class="content">
                    <h2>Carving spoons with axes and blades</h2>
                    <p>An axe quickly turns a log into billets – workable bits of wood. But, that's not end of axe-work. They're much faster, than pushing and pulling a knife-blade through wood. So, I use a carving axe to slice billets into blanks – roughly spoon-shaped bits of wood</p>

                    <p>Blade-work starts after the spoon blank is close to its final shape. Then, I use a hook-knife to hollow out the bowl. Once I've got the general shape, and a bowl, I move on to a straight-bladed carving knife to finish up the rest of the shaping.</p>

                    <p>After drying a few days, I'll go over the spoon once more with the blades – adding in any detail or decoration. This leaves a smooth, tool-finish without sanding. (Sanding tends to make wood feel a bit fluffy when it gets wet.)</p>
                    </div>
                </div>
            </div>
        
        
    </section>