{{ define "main"}}
<section class="hero is-fullheight video">
    <div class="hero-video">
        <video playsinline autoplay muted loop poster="images/carving_hero.jpg">
            <source src="videos/carving_hero.mp4" type="video/mp4">
        </video>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1"><span class="title-wrap">{{ .Site.Title }}</span></h1>
        </div>
    </div>
    <div class="hero-foot has-text-centered">
        
    </div>
</section>
<section class="section">
    <div class="container">
<!--         <h2 class="subtitle is-2">{{ .Params.subtitle }}</h2> -->
<!--         {{ range .Data.Pages }}
            {{if eq .Type "index" }} 
        {{.Content}}
        {{end}}
        {{end}} -->
        <hr>
    </div>
</section>
<section class="section">
    <div class="container">
        
    
    <div class="tile is-ancestor">
        <div class="tile is-parent is-4">
            <article class="tile is-child is-primary">
                <h2 class="title">Left tile</h2>
                <p>The text of a left-hand tile</p>
                
            </article>
        </div>
            <div class="tile is-parent is-4">
                <article class="tile is-child is-primary">

                        <h2 class="title">Middle tile</h2>
                        <p>The text of a middle tile</p>

                </article>
            </div>
            <div class="tile is-parent is-4">
                <article class="tile is-child is-primary">

                        <h2 class="title">Right tile</h2>
                        <p>The text of a right-hand tile</p>

                    
                </article>
            </div>
            
        </div>
        
    </div>

</section>
{{ end }}