//colours

$warmgrey: rgba(245, 242, 240, 0.9);
$stonegrey: rgba(189, 172, 154, 0.8);
$leafgreen: rgba(169, 194, 31, 0.9);
$shadowbrown: rgba(41, 31, 14, 1);
$white: rgba(256, 256, 256, 1);

.has-hero-image {
    background-image: url("/images/tree-hero.jpg");
}

.wood-title {
    @extend .title;
    color: $white;
}

$primary: $warmgrey;
