@charset "utf-8";

/*! bulma.io v0.5.3 | MIT License | github.com/jgthms/bulma */
@import "utilities/all";
@import "base/all";
@import "wood-variables";
@import "elements/all";
@import "components/all";
@import "grid/all";
@import "layout/all";

* .is-primary {
    background-color: $primary;
}

.hero-video {
    background-color: $shadowbrown;

    video {
        opacity: 0.7;
    }
}