@charset "utf-8";

/*! bulma.io v0.6.0 | MIT License | github.com/jgthms/bulma */


@import "utilities/all";
@import "wood-variables";
@import "base/all";
@import "elements/all";
@import "components/all";
@import "grid/all";
@import "layout/all";

* .has-white-text {
    color: $white;
}

* .is-primary {
    background-color: $primary;
}

* .is-green {
    background-color: $leafgreen;
}